.discovery__main {
    background-color: #2056be;
    padding: 20px;
    margin: 0;
}

.discovery__content {
    background-color: #fff;
    margin: 10px auto;
    width: 80%;
    height: 100vh;
}

.discovery__tittle {
    padding: 20px;
    background-color: rgb(246, 242, 242);
}

.row__discovery {
    padding: 0 20px;
}

.discovery__ask {
    padding: 20px;
    margin-bottom: 40px;
}

.btn__discovery {
    background-color: rgb(6, 107, 141);
    padding: 10px;
    width: 100%;
    color: #fff;
    margin: 10px 0;
}

.btn__discovery i {
    color: black;
    font-size: 23px;
    margin-left: 30px;
}