.admnStaff {
    width: 100%;
    margin-bottom: 80px;
}

.admnStaff__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    background: #22952b;
    color: #fff;
}

.admnStaff__header__button {
    color: #0b4cc7;
    padding: 10px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    border: none;
    display: flex;
    min-width: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.admnStaff__header__button:hover {
    background-color: #f2f2f2;
}

.admnStaff__header .admnStaff__header__button i {
    font-size: 20px;
}

.admnStaff__content table {
    text-align: center;
}

.anhdd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin: 0 auto;
    object-fit: cover;
}

.admns__color {
    font-weight: bold;
    color: #22952b;
}

.admns__icon2 {
    color: red;
}

.admns__icon1 {
    color: #22952b;
}

.admnStaff__content {
    padding: 20px 40px;
}

.admnStaff__content .table__td i {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}